{% extends 'bytenews/base.html' %}

{% load static %} 

{% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <!-- Profile picture container -->
                    <div class="text-center">
                        <!-- Added a div to wrap the profile picture -->
                        <div class="profile-picture-container">
                            <img src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'media/default_user_image.jpg' %}{% endif %}" alt="Profile Picture" id="profile-img" class="img-fluid rounded-circle">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Username</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.username| title }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.email }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Social Media Links:</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#" title="Facebook">
                                        <i class="bi bi-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" title="Twitter">
                                        <i class="bi bi-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" title="Instagram">
                                        <i class="bi bi-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Added an edit button -->
                    <!--The view and function needs to be edited-->
                    <div class="text-center">
                        <a href="" class="btn btn-secondary">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}