{% extends 'bytenews/base.html' %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    {{ form.username }}

    <label for="email">Email:</label>
    {{ form.email }}

    <label for="password1">Password:</label>
    {{ form.password1 }}

    <label for="password2">Confirm Password:</label>
    {{ form.password2 }}

    <button type="submit">Register</button>
    <small>Already have an account? <a href="{% url 'bytenews:login' %}">Sign In</a></small>
</form>

{% endblock content %}